<div class="container">
    This is contact list

    <div ng-controller="ContactListController">
        <ul>
            <li ng-repeat="contact in contacts">
                <a href="#/contacts/{{contact.id}}" >{{contact.n.givenName + ' ' + contact.n.familyName}}</a>
            </li>
        </ul>
    </div>
</div>
