<div class="container">
    This is contact View
    <div ng-controller="ContactController">
        {{contact.id}}
        <p>
            <h2>{{contact.name}}</h2>
            {{contact.phone}}
        </p>

    </div>
</div>
