<div ng-controller="ContactsController" ng-switch="contactSubview">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">C.me</a>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                <div ng-switch="panelMode">
                    <div ng-switch-when="text-control" ng-include=" 'views/partials/text-control.html' "></div>
                    <div ng-switch-when="settings-panel" ng-include=" 'views/partials/settings-panel.html' "></div>
                    <div ng-switch-when="batch-edit-panel" ng-include=" 'views/partials/batch-edit-panel.html' "></div>
                </div>
            </div>
        </div>
    </nav>
    <div ng-switch-when="list" ng-include=" 'views/contacts/contact-list.html' "></div>
    <div ng-switch-when="show" ng-include=" 'views/contacts/contact-show.html' "></div>
    <div ng-switch-default class="app-loading">
        <p> Loading Application... </p>
    </div>
</div>
