<ul class="nav pull-left">
    <li>
        <input type="checkbox" ng-model="batchOptions.selectAll" />
        <span> Select all </span>
    </li>
</ul>
<div class="nav-collapse collapse">
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><a href="#">Merge</a></li>
        <li class="divider-vertical"></li>
        <li><a href="#">Remove</a></li>
        <li class="divider-vertical"></li>
    </ul>
</div>
