<div class="nav-collapse collapse">
    <ul class="nav pull-left">
    </ul>
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li> <a href="#"> <strong>UserName</strong> </a> </li>
        <li class="divider-vertical"></li>
        <li><a href="#">Log Out</a></li>
        <li class="divider-vertical"></li>
    </ul>
</div>
