<form class="navbar-form pull-left">
    <span ng-model="controlMode">search</span>
    <input type="text" ng-model="textControl" />
</form>
<div class="nav-collapse collapse">
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><a href="#"><i class="icon-pencil icon-white"></i></a></li>
        <li class="divider-vertical"></li>
        <li><a href="#"><i class="icon-cog icon-white"></i></a></li>
        <li class="divider-vertical"></li>
    </ul>
</div>
